$primary: #F44336
// $secondary: 

html
	box-sizing: border-box

body
	background: white
	margin: 0
	font-family: 'Roboto', sans-serif

.app 
	width: 100%
	display: flex
	flex-direction: column

header
	display: flex
	justify-content: center
	align-items: center
	background: $primary
	color: #eee
	font-weight: bold
	font-size: 20px
	padding: 10px

.main
	display: flex
	flex-direction: column
	border: 1px solid black
	padding: 25px

form
	display: flex
	flex-direction: column

.text-field
	margin: 10px
	display: flex
	flex-direction: column

.errorText
	color: red

input
	position: relative
	padding: 10px
	border: none
	outline: none
	border-bottom: solid 2px #eee
	transition: border 0.3s
	&:focus, &.focus
		border-bottom: solid 2px $primary


input, textarea
	font-size: 24px
	padding: 10px
	color: $primary
	text-shadow: 0px 0px 0px #000
	-webkit-text-fill-color: transparent
	&::-webkit-input-placeholder
		color: ''
		text-shadow: none
		-webkit-text-fill-color: initial








